<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite">

    <listeners>
        <listener class-name="listener.ExtentReportListener"/>
    </listeners>

    <test name="Test">
        <classes>
            <class name="searchBoxfunctionality.AppTest"/>
        </classes>
    </test>

</suite>
